.header-content {
    width: 100%;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    margin: 0em;
}

.logo {
    width: 7em;
    height: 5em;
    object-fit: contain;
}

.product-data-main {
    width: 80%;
}

.product-img {
    width: 80%;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    object-fit: contain;
}

.product-data-sub {
    text-align: left;
    border-radius: 1em;
    margin-top: 9%;
    width: 50%;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
}

.Footer {
    width: 100%;
    height: 40px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
  }

.cart {
    height: 50%;
}

.strikeprice {
    text-decoration: line-through;
}

.cart-subtotal {
    width: 100%;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
}